<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}
   

    <div class="content container">
      {{ content }}
    </div>

  </body>
   <ul>
<li>Sites in Peru</li>
  <li>Dog types</li>
  <li>Dog Cemetaries</li>
  <li>about me</li>
  </ul>
   <body>
 <h2>Ancient Dogs in Peru</h2> 

  </body>
   </div>
  <div class = "main">
     <h1>Ancient Finds: Dogs in Peru</h1>
    <body>
<h3> Finds................</h3>
  <p>Info...... </p>
  <img src="https://pixabay.com/en/bone-animal-decay-skeleton-nature-949077/"/>

</body>
</div>

</div>
</html>
</html>
